
/* Basic Tags */
html, body 
{
   background: #060606 url(images/Bkgstar.gif) 0 0 repeat;
   color: #000;
	margin: 10px 2% 0 2%;
}

a:link 
{
   background: none;
   color: #000099;
}

a:visited 
{
   background: none;
   color: #9999FF;
}

p {color : #FFFFFF ;}

h1 {color : #FFFFFF ; font-size : 250% ; text-align: center; }

h2 {color : #FFFFFF ; font-size : 150% ; }

h3 {color : #FFFFFF ; font-size : 120% ; }

/* Page layout */

.menu_layout 
{
	margin-top: 100px;
	width: 100%;
	text-align : center ; 
	font-size : 85% ;
/*	border: 1px solid #000; */
}
.main_layout 
{
	margin-left:  21%;
	margin-right: 20%;
/*	border: 1px solid #000; */
}

.footer_layout
{
/*	border: 1px solid #000; */
	width: 100%;
}

/* Form validation error message */
.error {color : red ; display : none ; }

/* Main menu / Nav Bar (currently the same thing ) */
/*.NavBar {text-align : center ; font-size : 85% ;}*/
.menu_highlight {color : #000000 ; font-size : 150% ; text-align: center; }

.breadcrumb {color: #000000; font-size: 75%; text-align: left ; }

/* W3C Validation Logo */
.W3CValidation
{
	position: absolute;
	top: 10px;
	right: 10px;
	text-align : right ;
}

/* FAQ */
.question { color : #882255 ; font-size : 150% ; }
.answer   { color : #552288 ; font-size : 110% ; }


/* Misc */
.Banner_Buttons
{
	text-align : center ; 
	border : 0px ;
}

.Selection_Results{text-align : center}

.reference_link {text-align : right ; font-size : 85 % }