body
{
    font-size: 12pt;
    font-family: Arial;
    text-align: justify;
}

H1
{
    font-size: 14pt;
    font-family: Arial;
}

H2
{
    font-weight: bold;
    font-size: 12pt;
    font-family: Arial;
}

IMG
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

P
{
	margin-top: 0px; 
	text-align: justify;
}
